.bg{
    background: linear-gradient(to right,skyblue,white)no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.bold{
    font-size: 25px;
}


.bg-gray{
    background: #eee;
}

.custom{
    background: rgba(14, 13, 13, 0.596);
  width: 500px;
  height: 360px;
}


.contactContainer{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.contactContent{
   margin: 2em;
   width: 55%;
}

@media (max-width: 480px){

    .contactContent{
        width: 70%;
    }
}

.name,.email,.subject,.msg{
margin: .4em;
    width: 100%;
    padding: .5em;
    outline: none;
    resize: none;
}

.contactBtn{
    background-color: teal;
    color: whitesmoke;
    padding: .8em;
    border: 1px solid teal;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 1em;
    outline: none;
    margin: .4em;
    font-size: 1.2em;
}

.contactBtn:hover{
    background: rgb(3, 99, 99);
    transition: all .5s;
}
